# Enable rewrite engine
RewriteEngine On
RewriteBase /php/projects/blog-php/

# Don't apply rules to existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
s
# Send all requests to index.php
RewriteRule ^(.*)$ index.php [QSA,L]